.leftbar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 15rem;
    height: 100vh;
    transform: translateX(-100%);
    transition: transform 0.5s ease-out;
    z-index: 50;
    display: flex;
    flex-direction: column;
}
.leftbar-overlay.loaded {
    transform: translateX(0);
}

.leftbar-slide-in {
    display: flex;
    flex-direction: column;
    height: 100%;
}